<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="well mt-5 text-center">
            <h3>Если такой e-mail существует и подтверждён — мы отправили ссылку.</h3>
            <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="Login">Вернуться к входу</a>
        </div>
    </div>
</div>
